.Container {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: nowrap;
    margin: 30px 10px 15px 10px;
}

.images {
    text-align: center;
    margin: 20px 0; 
}

.image {
    width: 150px;
    height: 150px;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.alt {
    margin-top: 15px;
    font-weight: bold;
    transition: color 0.3s ease;
}

.images:hover .alt {
    color: gold; 
}

.images:hover .image {
    transform: scale(1.1); 
}

