.home-icon-one{
  top:-30px;
  right: 100px;
}
.home-icon-two {
  left: 20px;
  bottom:300px;
}
.home-icon-three {
  left: 20px;
  top: 270px;
}
.icons-home-parent {
  height: 60vh;
}
/* .home-icon-four {
  right: 100px;
  top: 400px;
}
.home-icon-five {
  left: 500px;
  bottom:10px;
} */
/*Waves styles */

.waves {
  width: 100%;
  overflow: hidden;
  position: relative;
  top: 0;
  left: 0;
}

.wave-svg {
  width: 100%;
  height: auto;
  display: block;
}