:root {
  --theme-color-extra_bg_color: #1f2834;

  --theme-color-bd_color: #f8f4eb;
}

footer {
  background-color: var(--theme-color-bd_color);
  font-family: var(--secondary-font);
  width: 100%;
  max-width: 100%;
  margin-top: 50px;
  padding-top: 155px;
  text-align: center;
}
.footer2 {
  background-color: var(--theme-color-extra_bg_color);
  font-family: var(--secondary-font);
}
.wave-footer {
  transform: translateY(85%);
  -webkit-transform: translateY(85%);
  -moz-transform: translateY(85%);
  -ms-transform: translateY(85%);
  -o-transform: translateY(85%);
}

.instagram a {
  display: inline-flex;
  text-decoration: none;
  line-height: 20px;
}

.insta-icon {
  color: #202020;
  font-size: 24px; /*Adjust icon size */
}

.insta-text {
  text-decoration: none;
  color: #202020;
  font-size: 17px;
}

.insta-img li img {
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

/* Social Icons Styles */

.social-icons {
  display: flex;
  justify-content: center;
  gap: 2px; /* Space between icons */
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.social-icons li {
  display: inline-flex;
}

.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border: 1px solid #c4c0c0;
  border-radius: 50%;
  color: #000;
  text-decoration: none;
  transition: background-color 0.3s ease, color 0.3s ease;
  font-size: 18px;
  -webkit-transition: background-color 0.3s ease, color 0.3s ease;
  -moz-transition: background-color 0.3s ease, color 0.3s ease;
  -ms-transition: background-color 0.3s ease, color 0.3s ease;
  -o-transition: background-color 0.3s ease, color 0.3s ease;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.social-link:hover {
  color: #fff;
}

.social-link.facebook:hover {
  background-color: #3b5998;
}

.social-link.twitter:hover {
  background-color: #1da1f2;
}

.social-link.basketball:hover {
  background-color: #f48c06;
}

.social-link.instagram:hover {
  background-color: #e4405f;
}

footer .footer-bottom {
  text-align: center;
  margin-top: 25px;
  padding: 15px 0px;
  border-top: 1px solid #c9c0c0;
}

footer .footer-bottom span {
  display: block;
  margin-top: 8px;
  color: #bcb9b9;
}

footer .footer-bottom span a {
  text-decoration: none;
  color: #132640;
}
