.card {
  position: relative;
  overflow: hidden;
}
.product-card2 {
  height: 50vh !important;
  border: none !important;
}
.product-card2 .card-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.card-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 10px;
  transform: translateY(100%);
  transition: transform 0.3s ease-in-out;
}

.card:hover .card-options {
  transform: translateY(0);
}

.card img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.no-results-text {
  font-size: 20px;
}

.filter-active {
  color: #9dadad;
  cursor: pointer;
  font-family: var(--secondary-font);
  font-size: 1.5rem;
  font-weight: 400;
}
.filter-inactive {
  color: var(--theme-color-text_dark);
  cursor: pointer;
  font-family: var(--secondary-font);
  font-size: 1.3rem;
}

.catogary-list {
  margin-left: 30px;
  font-family: var(--secondary-font);
  font-size: 1.5rem;
  font-weight: 400;
}
.catogary-list li {
  padding: 6px;
}

.catogary-list li:first-child {
  margin-left: -20px;
}
.no-results-row {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}
.above-catogary {
  color: var(--theme-color-text_dark);
  font-family: var(--secondary-font);
  font-weight: 400;
}
.catogary-filter,
.catogary-filter span {
  color: var(--theme-color-text_dark);
  font-weight: 700;
  font-family: var(--secondary-font);
  font-size: 1.5rem;
  padding: 10px;
}
.filter-active:hover,
.filter-inactive:hover {
  color: #eea12c !important;
}
.size-btn {
  color: #c96f10 !important;
  padding: 4px;
  border: 1px solid #c96f10 !important;
  background-color: inherit !important;
}
.size-btn:hover {
  background-color: #eea12c var(--theme-color-text_dark);
  color: #1f2834 !important;
}
