/******************** Start Home *************************/
.slider-bg {
  background-color: var(--theme-color-bd_color);
}
.slider-text{
  width: 40%;
}
.slider-text h1 {
  color: var(--theme-color-text_dark);
  font-family: var(--primary-font);
  font-size: 3.5rem;
  font-weight: 700;
}
.slider-text h6 {
  font-size: 1rem;
  color: var(--theme-color-text_dark);
  font-weight: 400;
}
.p_home {
  color: var(--theme-color-text);
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: var(--theme-color-text_hover3);
  color: var(--theme-color-text_dark);
  border-radius: 10%;
  padding: 30px;
  width: 50px;
  height: 50px;
  -webkit-border-radius: 10%;
  -moz-border-radius: 10%;
  -ms-border-radius: 10%;
  -o-border-radius: 10%;
  z-index: 100;
}

.carousel-control-prev-icon:hover,
.carousel-control-next-icon:hover {
  background-color: var(--theme-color-text_link3);
  color: var(--theme-color-text_hover3);
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
}

/* Style for the inactive dots */
.carousel-indicators button {
  background-color: var(--theme-color-text_hover3) !important;
  width: 13px;
  height: 13px;
  border: none;
  opacity: 1;
}
.carousel-control-prev-icon {
  position: absolute;
  left: 5%;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
.carousel-control-next-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

@media (max-width: 575.98px) {
  .carousel-control-prev-icon {
    left: 2%;
    top: 45%;
  }

  .carousel-control-next-icon {
    right: 2%;
    top: 45%;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .carousel-control-prev-icon {
    left: 3%;
    top: 48%;
  }

  .carousel-control-next-icon {
    right: 3%;
    top: 48%;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .carousel-control-prev-icon {
    left: 4%;
    top: 50%;
  }

  .carousel-control-next-icon {
    right: 4%;
    top: 50%;
  }
}

@media (min-width: 1200px) {
  .carousel-control-prev-icon {
    left: 5%;
    top: 50%;
  }

  .carousel-control-next-icon {
    right: 5%;
    top: 50%;
  }
}

/***************** End Home *******************/
