y:root {
  --theme-color-bg_color: #ffffff;
}
.category-card {
  border: none !important;
}
.category-card .card-body {
  top: 40%;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: self-start;
  opacity: 1;
  transition: opacity 0.3s ease;
  -webkit-transition: opacity 0.3s ease;
  -moz-transition: opacity 0.3s ease;
  -ms-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  background: linear-gradient(to bottom, #ffffff00, #3632324f);
}

.category-card:hover .card-body {
  opacity: 1;
  top: 0;
}

.category-card .card-body .category-title {
  z-index: 4;
  font-size: 1.9rem;
  color: var(--theme-color-bg_color);
}

.category-card .card-body .shop-now-btn {
  display: none;
  margin-top: 70px;
  color: var(--theme-color-bg_color);
  font-size: 1.5rem;
  font-weight: 300;
  z-index: 2;
}

.category-card:hover .card-body .shop-now-btn {
  display: inline-block;
}
