.category-card .card-body {
  position: absolute;
  top: 40%;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  opacity: 1;
  transition: opacity 0.3s ease;
  -webkit-transition: opacity 0.3s ease;
  -moz-transition: opacity 0.3s ease;
  -ms-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
}

.category-card:hover .card-body {
  opacity: 1;
  top: 0;
}

.category-card .card-body .category-title {
  color: var(--theme-color-bd_color);
  z-index: 2;
  font-size: 2rem;
  color: var(--theme-color-extra_bg_color);
}

.category-card .card-body .shop-now-btn {
  display: none;
  margin-top: 70px;
  color: var(--theme-color-text_hover);
  font-size: 1.5rem;
  font-weight: 300;
  z-index: 2;
}

.category-card:hover .card-body .shop-now-btn {
  display: inline-block;
}

/* Second Section */
.Container {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: nowrap;
  margin: 0 auto;
  padding: 20px;
  margin-top: 20px;
}

.images {
  text-align: center;
  margin: 20px 0;
}

.image {
  width: 150px;
  height: 150px;
  object-fit: cover;
  transition: transform 0.3s ease;
  -webkit-transition: transform 0.3s ease;
  -moz-transition: transform 0.3s ease;
  -ms-transition: transform 0.3s ease;
  -o-transition: transform 0.3s ease;
}

.alt {
  margin-top: 15px;
  font-weight: bold;
  transition: color 0.3s ease;
  -webkit-transition: color 0.3s ease;
  -moz-transition: color 0.3s ease;
  -ms-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
}

.images:hover .alt {
  color: gold;
}

.images:hover .image {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}
