@import url("https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300;400;500;600;700&family=Permanent+Marker&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import "https://unpkg.com/leaflet@1.9.4/dist/leaflet.css";

:root {
  --theme-color-bg_color: #ffffff;
  --theme-color-bd_color: #f8f4eb;
  --theme-color-text: rgb(100, 102, 114);
  --theme-color-text_light: #8e919d;
  --theme-color-text_dark: #132640;
  --theme-color-extra_bg_color: #1f2834;
  --theme-color-text_link: #eea12c;
  --theme-color-text_hover: #c96f10;
  --theme-color-text_link2: #9dadad;
  --theme-color-text_hover2: #859898;
  --theme-color-text_link3: #c3b0ac;
  --theme-color-text_hover3: #b79f9a;
  --theme-color-alter_bd_color: #e2d6cc;
  --theme-color-alter_bd_hover: #dcdcdc;
  --primary-font: "Permanent Marker", serif;
  --secondry-font: "Roboto", serif;
  --accent-font: "Hind Madurai", serif;
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  background-color: var(--theme-color-bd_color);
  font-family: var(--secondry-font);
}
a {
  text-decoration: none !important;
}

.btn-one {
  background-color: var(--theme-color-text_link) !important;
  border: none !important;
  font-family: var(--secondary-font) !important;
}

.btn-one:hover {
  background-color: var(--theme-color-text_hover) !important;
}

/* Start responsive home */
.slider-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.slider-text {
  text-align: center;
  margin-bottom: 20px;
}

.slider-image img {
  max-width: 100%;
  height: auto;
}

@media (max-width: 767px) {
  .slider-image {
    order: -1;
  }
}

@media (min-width: 768px) {
  .slider-content {
    flex-wrap: nowrap;
  }

  .slider-text {
    text-align: left;
  }
}
/* End responsive home */

.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 10px; /* تكبير الخط */
  background: rgba(0, 0, 0, 0.6);
  outline: none;
  border-radius: 5px;
  position: absolute;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: #fff;
  border: 2px solid rgba(0, 0, 0, 0.6);
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: #fff;
  border: 2px solid rgba(0, 0, 0, 0.6);
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}
