:root {
  --primary-font: "Permanent Marker", serif;
  --secondry-font: "Roboto", serif;
  --accent-font: "Hind Madurai", serif;
  --theme-color-bd_color: #f8f4eb;
  --secondry-font: "Roboto", serif;
  --theme-color-text_light: #8e919d;
}
.Icons {
  margin-bottom: 200px;
  background-color: var(--theme-color-bd_color);
}
.icon-container {
  height: 70vh;
  align-items: center;
  background-color: var(--theme-color-bd_color);
  font-family: var(--secondry-font);
}
.Fa {
  width: 70%;
  margin-left: 80px;
}

.Fa img {
  width: 70px;
  height: 70px;
}

.title {
  font-size: 2rem;
  margin-top: 10px;
}

.desc {
  width: 100%;
  font-size: 1rem;
  color: var(--theme-color-text_light);
}

/* start Trendy Clothing */

.trendy-section {
  color: var(--theme-color-bg_color);
  padding: 7rem 0;
  position: relative;
  z-index: 800;
}

.trendy-text {
  position: relative;
  z-index: 2;
  max-width: 50%;
  margin-left: 150px;
  margin-top: 100px;
  font-family: var(--secondry-font);
}

.trendy-text .subtitle {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 1.5rem;
  letter-spacing: 1px;

  margin-bottom: 1rem;
}

.trendy-text .main-title {
  font-weight: 700;

  font-size: 4rem;
  line-height: 1.2;
}

.trendy-btn {
  font-weight: 400;
  padding: 0.8rem 1.5rem;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}

.wave-top {
  position: absolute;
  top: -1px;
  left: 0;
}
.wave-bottom {
  top: -2px;
  position: relative;
}


